<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>My test email document</title>
    </head>
    <body>
        <div>
            <h1>My Registration title subject thing {{email}}</h1>
            <p>Registration succeeded or something {{name}}</p>
        </div>
        <div>
            <button onclick="">Click here to verify!</button>
        </div>
    </body>
</html>