<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>ConcertHub Organizer Registration Confirmation</title>
    </head>
    <body>
        <div>
            <h2>Thank you for signing up with ConcertHub!</h2>
            <p>Your account has been created under these credentials:</p>
            <div>
                <ul>
                    <li>Name: {{name}}</li>
                    <li>Email: {{email}}</li>
                </ul>
            </div>
            <div>In order to access your account, you will have to verify your email address by clicking on the link below.</div>
        </div>
        <hl></hl>
        <div>
            <a href={{verifyURL}}>Verify</a>
        </div>
    </body>
</html>