<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>ConcertHub Participant Registration Confirmation</title>
    </head>
    <body>
        <div>
            <h2>Thank you for signing up with ConcertHub!</h2>
            <p>Your account has been created under these credentials:</p>
            <div>
                <ul>
                    <li>Name: {{firstName}} {{ln}}</li>
                    <li>Email: {{email}}</li>
                </ul>
            </div>
            <div>You can now log in to our website with your email and passsword.</div>
        </div>
        <hl></hl>
    </body>
</html>